<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="https://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> is a
  <a href="https://www.railstutorial.org/book">book</a> and
  <a href="http://screencasts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  <br>
  This is the sample application for the tutorial.
  This site showcases my skill development with rails because before this class
  I would not have been able to make a home page. This website showcases how
  I've learned to utilize MVC model to create static pages. How I can use CSS
  to style the webpage. How I've added a database, and how I've been able to add
  images to the page. It shows, I've actually developed skills with ruby  and rails.
</p>
